.fundoLogin {
    background-image: url("https://ik.imagekit.io/txvje9hzw/comfywork.jpg?updatedAt=1752372950482");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}